#lab0124{
  width: 450px;
  position: absolute;
  left:20px;
  top:0px;
}

#studio0209{
  width: 450px;
  position: absolute;
  left:20px;
  top:610px;

}



#lab0225{
  width: 450px;
  position: absolute;
  top: 1380px;
  left:20px;
}

#studio0310{
  width: 450px;
  position: absolute;
  top: 1950px;
  left:20px;
}
