#studio{
  position: relative;
  left: 200px;
  top: -206px;
}

#studio1{
  position: relative;
  left: 200px;
  top: -206px;
}

#studio2{
  position: relative;
  left: 200px;
  top: -206px;
}

#studio3{
  position: relative;
  left: 200px;
  top: -206px;
}

#studio4{
  position: relative;
  left: 200px;
  top: -206px;
}
