@font-face {
 font-family: 'Ranchers';
 font-style: normal;
 font-weight: 700;
 src: url('chrome-extension://__MSG_@@extension_id__/fonts/Ranchers-Regular.ttf');
}


@keyframes shake {
  0% { transform: skewX(-15deg); }
  30% { transform: skewX(15deg); }
  50% { transform: skewX(-15deg); }
  70% { transform: skewX(15deg); }
  30% { transform: skewX(0deg); }
  0% { transform: skewX(0deg); }
}


#nav-subnav.ufg b{
  font-size: 110px;
  font-family: sans-serif;
  position: absolute;
  top: 90px;
  left: 115px;
  color: white;
  letter-spacing: 8px;
  animation: 1s response-time-title steps(2) infinite;
}


@keyframes response-time-title {
50% {
    text-shadow: 5px 5px 5px yellow;
}
100% {
    text-shadow: 8px 8px 8px #F00;
}
