body{
  background-image: url("img/hands.JPG");
  background-size: cover;
}

img{
  width: 420px;
}



.flex-container {
	display: flex;
	flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 1689px;
  position: absolute;
  left: -2px;
  top: 0px;
}


p{
  font-size: 60px;
}

#emoji1a{
  position: absolute;
  top: 100px;
  left: 20px;
}

#emoji1b{
  position: absolute;
  top: 25px;
  left: 50px;
}

#emoji1c{
  position: absolute;
  top: 0px;
  left: 130px;
}

#emoji1d{
  position: absolute;
  top: 120px;
  left: 270px;
}

#emoji1e{
  position: absolute;
  top: 220px;
  left: 290px;
  transform: rotate(30deg);
}



#emoji2a{
  position: absolute;
  top: 120px;
  left: 640px;
  transform: rotate(90deg);
}

#emoji2b{
  position: absolute;
  top: 40px;
  left: 640px;
  transform: rotate(-30deg);
}

#emoji2c{
  position: absolute;
  top: 210px;
  left: 630px;
  transform: rotate(40deg);
}




#emoji3a{
  position: absolute;
  top: 100px;
  left: 1050px;
  z-index: 1;
}

#emoji3b{
  position: absolute;
  top: 10px;
  left: 900px;
}


#emoji3d{
  position: absolute;
  top: 320px;
  left: 890px;
  transform: rotate(-40deg);
}




#emoji4a{
  position: absolute;
  top: 150px;
  left: 1550px;
  z-index: 1;
  transform: rotate(30deg);
}

#emoji4b{
  position: absolute;
  top: 50px;
  left: 1550px;
}

#emoji4c{
  position: absolute;
  top: 220px;
  left: 1530px;
  transform: rotate(-40deg);
}

#emoji4d{
  position: absolute;
  top: 350px;
  left: 1560px;
  transform: rotate(20deg);
}



#emoji5a{
  position: absolute;
  top: 940px;
  left: 230px;
  z-index: 1;
}

#emoji5b{
  position: absolute;
  top: 550px;
  left: 170px;
  transform: rotate(-40deg);
}

#emoji5c{
  position: absolute;
  top: 650px;
  left: 110px;
}

#emoji5d{
  position: absolute;
  top: 720px;
  left: 80px;
  transform: rotate(40deg);
}

#emoji5e{
  position: absolute;
  top: 805px;
  left: 110px;
}

#emoji5f{
  position: absolute;
  top: 870px;
  left: 170px;
  transform: rotate(60deg);
}



#emoji6a{
  position: absolute;
  top: 910px;
  left: 540px;
  transform: rotate(-30deg);
}

#emoji6b{
  position: absolute;
  top: 610px;
  left: 560px;
}

#emoji6c{
  position: absolute;
  top: 680px;
  left: 540px;
}

#emoji6d{
  position: absolute;
  top: 750px;
  left: 540px;
}

#emoji6e{
  position: absolute;
  top: 840px;
  left: 530px;
  transform: rotate(40deg);
}

#emoji6f{
  position: absolute;
  top: 530px;
  left: 570px;
}



#emoji7a{
  position: absolute;
  top: 620px;
  left: 1020px;
  z-index: 1;
}

#emoji7b{
  position: absolute;
  top: 550px;
  left: 1040px;
}

#emoji7c{
  position: absolute;
  top: 680px;
  left: 1040px;
}

#emoji7d{
  position: absolute;
  top: 750px;
  left: 1090px;
}



#emoji8a{
  position: absolute;
  top: 610px;
  left: 1470px;
  z-index: 1;
}

#emoji8b{
  position: absolute;
  top: 590px;
  left: 1380px;
}

#emoji8c{
  position: absolute;
  top: 650px;
  left: 1320px;
}

#emoji8d{
  position: absolute;
  top: 690px;
  left: 1480px;
  transform: rotate(30deg);
}




#emoji9a{
  position: absolute;
  top: 1100px;
  left: 140px;
  transform: rotate(30deg);

}

#emoji9b{
  position: absolute;
  top: 1200px;
  left: 300px;
  transform: rotate(20deg);
}

#emoji9c{
  position: absolute;
  top: 1090px;
  left: 50px;
  transform: rotate(-80deg);

}

#emoji9d{
  position: absolute;
  top: 1150px;
  left: 220px;
}

#emoji9e{
  position: absolute;
  top: 1490px;
  left: 40px;
}

#emoji9f{
  position: absolute;
  top: 1240px;
  left: 355px;
  transform: rotate(40deg);
}

#emoji9g{
  position: absolute;
  top: 1440px;
  left: 289px;
}

#emoji9h{
  position: absolute;
  top: 1370px;
  left: 310px;
}
#emoji9i{
  position: absolute;
  top: 1500px;
  left: 295px;
}



#emoji10a{
  position: absolute;
  top: 1280px;
  left: 550px;
}

#emoji10b{
  position: absolute;
  top: 1360px;
  left: 550px;
}

#emoji10c{
  position: absolute;
  top: 1140px;
  left: 600px;
}

#emoji10d{
  position: absolute;
  top: 1200px;
  left: 560px;
}

#emoji10e{
  position: absolute;
  top: 1430px;
  left: 540px;
  transform: rotate(40deg);
}





#emoji11a{
  position: absolute;
  top: 1530px;
  left: 1080px;
  transform: rotate(-20deg);
}

#emoji11b{
  position: absolute;
  top: 1230px;
  left: 1060px;
  transform: rotate(-50deg);
}

#emoji11c{
  position: absolute;
  top: 1090px;
  left: 1100px;
  transform: rotate(40deg);
}

#emoji11d{
  position: absolute;
  top: 1460px;
  left: 1090px;
  transform: rotate(30deg);
}

#emoji11e{
  position: absolute;
  top: 1160px;
  left: 1080px;
}
#emoji11f{
  position: absolute;
  top: 1300px;
  left: 1140px;
  transform: rotate(40deg);
}

#emoji11g{
  position: absolute;
  top: 1390px;
  left: 1170px;
}




#emoji12a{
  position: absolute;
  top: 1240px;
  left: 1540px;
  transform: rotate(20deg);
}

#emoji12b{
  position: absolute;
  top: 1290px;
  left: 1600px;
}

#emoji12c{
  position: absolute;
  top: 1070px;
  left: 1400px;
  transform: rotate(30deg);
}

#emoji12d{
  position: absolute;
  top: 1150px;
  left: 1400px;
}

#emoji12e{
  position: absolute;
  top: 1210px;
  left: 1450px;
  transform: rotate(-50deg);
}
#emoji12f{
  position: absolute;
  top: 1360px;
  left: 1610px;
  transform: rotate(30deg);
}





#emoji13a{
  position: absolute;
  top: 1720px;
  left: 70px;
}

#emoji13b{
  position: absolute;
  top: 1720px;
  left: 320px;
}

#emoji13c{
  position: absolute;
  top: 1820px;
  left: 200px;
}






#emoji14a{
  position: absolute;
  top: 1700px;
  left: 610px;
}

#emoji14b{
  position: absolute;
  top: 1720px;
  left: 540px;
  transform: rotate(-30deg);
}

#emoji14c{
  position: absolute;
  top: 1750px;
  left: 680px;
  transform: rotate(40deg);
}

#emoji14d{
  position: absolute;
  top: 1770px;
  left: 480px;
}

#emoji14e{
  position: absolute;
  top: 1800px;
  left: 720px;
  transform: rotate(50deg);

}





#emoji15a{
  position: absolute;
  top: 1690px;
  left: 920px;
  transform: rotate(-20deg);
}

#emoji15b{
  position: absolute;
  top: 1730px;
  left: 1100px;
  transform: rotate(20deg);
}

#emoji15c{
  position: absolute;
  top: 1880px;
  left: 1060px;
}

#emoji15d{
  position: absolute;
  top: 1870px;
  left: 960px;
}

#emoji15e{
  position: absolute;
  top: 1900px;
  left: 1140px;
}
#emoji15f{
  position: absolute;
  top: 1900px;
  left: 880px;
}



#emoji16a{
  position: absolute;
  top: 1990px;
  left: 1280px;
  transform: rotate(-20deg);
}

#emoji16b{
  position: absolute;
  top: 1930px;
  left: 1560px;
  transform: rotate(30deg);
}

#emoji16c{
  position: absolute;
  top: 2080px;
  left: 1360px;
  transform: rotate(20deg);
}

#emoji16d{
  position: absolute;
  top: 2050px;
  left: 1560px;
  transform: rotate(40deg);
}

#emoji16e{
  position: absolute;
  top: 2050px;
  left: 1460px;
  transform: rotate(-10deg);
}

#emoji16f{
  position: absolute;
  top: 1850px;
  left: 1580px;
  transform: rotate(-30deg);
}

#emoji16g{
  position: absolute;
  top: 1900px;
  left: 1360px;
  transform: rotate(20deg);
}




#emoji17a{
  position: absolute;
  top: 2290px;
  left: 60px;
}

#emoji17b{
  position: absolute;
  top: 2430px;
  left: 250px;
}

#emoji17c{
  position: absolute;
  top: 2360px;
  left: 55px;
}

#emoji17d{
  position: absolute;
  top: 2360px;
  left: 260px;
}

#emoji17e{
  position: absolute;
  top: 2430px;
  left: 50px;
}

#emoji17f{
  position: absolute;
  top: 2490px;
  left: 200px;
}

#emoji17g{
  position: absolute;
  top: 2500px;
  left: 60px;
}



#emoji18a{
  position: absolute;
  top: 2290px;
  left: 440px;
  transform: rotate(-30deg);
}

#emoji18b{
  position: absolute;
  top: 2270px;
  left: 520px;
}

#emoji18c{
  position: absolute;
  top: 2280px;
  left: 590px;
}

#emoji18d{
  position: absolute;
  top: 2300px;
  left: 660px;
}

#emoji18e{
  position: absolute;
  top: 2360px;
  left: 730px;
  transform: rotate(30deg);

}




#emoji19a{
  position: absolute;
  top: 2190px;
  left: 1070px;
}

#emoji19b{
  position: absolute;
  top: 2350px;
  left: 880px;
}

#emoji19c{
  position: absolute;
  top: 2250px;
  left: 1120px;
}

#emoji19d{
  position: absolute;
  top: 2490px;
  left: 860px;
}

#emoji19e{
  position: absolute;
  top: 2320px;
  left: 1160px;
}

#emoji19f{
  position: absolute;
  top: 2420px;
  left: 870px;
}

#emoji19g{
  position: absolute;
  top: 2300px;
  left: 1010px;
  transform: rotate(-30deg);
}




#emoji20a{
  position: absolute;
  top: 2680px;
  left: 1420px;
}

#emoji20b{
  position: absolute;
  top: 2300px;
  left: 1460px;
}

#emoji20c{
  position: absolute;
  top: 2200px;
  left: 1460px;
}

#emoji20d{
  position: absolute;
  top: 2400px;
  left: 1455px;
}

#emoji20e{
  position: absolute;
  top: 2400px;
  left: 1300px;
  transform: rotate(-30deg);
}

#emoji20f{
  position: absolute;
  top: 2430px;
  left: 1600px;
  transform: rotate(30deg);
}

#emoji20g{
  position: absolute;
  top: 2500px;
  left: 1450px;
}


.img1{
  opacity: 0;
}

.img1:hover{
  opacity: 1;
}


.img2{
  opacity: 0;
}

.img2:hover{
  opacity: 1;
}


.img3{
  opacity: 0;
}

.img3:hover{
  opacity: 1;
}


.img4{
  opacity: 0;
}

.img4:hover{
  opacity: 1;
}


.img5{
  opacity: 0;
}

.img5:hover{
  opacity: 1;
}


.img6{
  opacity: 0;
}

.img6:hover{
  opacity: 1;
}


.img7{
  opacity: 0;
}

.img7:hover{
  opacity: 1;
}


.img8{
  opacity: 0;
}

.img8:hover{
  opacity: 1;
}


.img9{
  opacity: 0;
}

.img9:hover{
  opacity: 1;
}


.img10{
  opacity: 0;
}

.img10:hover{
  opacity: 1;
}


.img11{
  opacity: 0;
}

.img11:hover{
  opacity: 1;
}


.img12{
  opacity: 0;
}

.img12:hover{
  opacity: 1;
}


.img13{
  opacity: 0;
}

.img13:hover{
  opacity: 1;
}


.img14{
  opacity: 0;
}

.img14:hover{
  opacity: 1;
}


.img15{
  opacity: 0;
}

.img15:hover{
  opacity: 1;
}


.img16{
  opacity: 0;
}

.img16:hover{
  opacity: 1;
}


.img17{
  opacity: 0;
}

.img17:hover{
  opacity: 1;
}


.img18{
  opacity: 0;
}

.img18:hover{
  opacity: 1;
}


.img19{
  opacity: 0;
}

.img19:hover{
  opacity: 1;
}


.img20{
  opacity: 0;
}

.img20:hover{
  opacity: 1;
}



#link{
  position: absolute;
  bottom:-1960px;
  left: 800px;
}

#link p{
  font-size: 20px;
  color: white;
  font-family: sans-serif;
}

a{
  text-decoration: none;
}
