body {
  font-family: Helvetica, Arial, Sans-serif;
  font-size: 13px;
  color: #b3b3b3;
}

img {
  height: 15em;
  margin-right: 0.5em;
  margin-bottom: 0.5em;
  border: 1px solid #b3b3b3;
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: blue;
}

a:hover {
  color: lime;
}

a:visited {
  color: blue;
}

img {
  height: 19.6em;
  width: auto;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0 auto;
  position: relative;
  width: 100%;
}

.info-area {
  align-items: center;
  background-color: white;
  opacity: 0.7;
  border-radius: 50%;
  border: solid 0px #b3b3b3;
  bottom: 30px;
  display: flex;
  height: 300px;
  justify-content: center;
  position: fixed;
  right: 30px;
  width: 300px;
}

.hidden {
  display: none;
}

@media only screen and (max-width: 600px) {
  img {
    height: unset;
    margin-right: 0;
    width: 100%;
  }
}
