#borscht{
  width:280px;
  height:280px;
  position: absolute;
  top:20px;
  left: 0px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 34px;
}

#serving{
  width:280px;
  height:280px;
  position: absolute;
  top:20px;
  left: 330px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 34px;
}

#step1{
  width:280px;
  height:280px;
  position: absolute;
  top:20px;
  left: 660px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}

#step1-1{
  width:280px;
  height:280px;
  position: absolute;
  top:320px;
  left: 0px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}


#butter{
  width:280px;
  height:280px;
  position: absolute;
  top:20px;
  left:990px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#beetroot{
  width:280px;
  height:280px;
  position: absolute;
  top:20px;
  left:1320px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#step2{
  width:280px;
  height:280px;
  position: absolute;
  top:320px;
  left:990px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}

#onion{
  width:280px;
  height:280px;
  position: absolute;
  top:320px;
  left:330px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#carrot{
  width:280px;
  height:280px;
  position: absolute;
  top:320px;
  left:660px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}


#step2-1{
  width:280px;
  height:280px;
  position: absolute;
  top:320px;
  left:1320px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}

#step3{
  width:280px;
  height:280px;
  position: absolute;
  top:620px;
  left:330px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}

#potatoes{
  width:280px;
  height:280px;
  position: absolute;
  top:620px;
  left:1320px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#cabbage{
  width:280px;
  height:280px;
  position: absolute;
  top:920px;
  left:1320px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#celery{
  width:280px;
  height:280px;
  position: absolute;
  top:620px;
  left: 0px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#step3-1{
  width:280px;
  height:280px;
  position: absolute;
  top:920px;
  left:990px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}

#leek{
  width:280px;
  height:280px;
  position: absolute;
  top:620px;
  left:660px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#peeled{
  width:280px;
  height:280px;
  position: absolute;
  top:620px;
  left:990px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#allspice{
  width:280px;
  height:280px;
  position: absolute;
  top:920px;
  left: 0px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#garlic{
  width:280px;
  height:280px;
  position: absolute;
  top:1220px;
  left: 0px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#cider{
  width:280px;
  height:280px;
  position: absolute;
  top:1220px;
  left: 330px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}


#bayleaf{
  width:280px;
  height:280px;
  position: absolute;
  top:920px;
  left: 330px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#stock{
  width:280px;
  height:280px;
  position: absolute;
  top:920px;
  left:660px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#sugar{
  width:280px;
  height:280px;
  position: absolute;
  top:1220px;
  left: 990px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#step4{
  width:280px;
  height:280px;
  position: absolute;
  top:1220px;
  left:660px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}

#pepper{
  width:280px;
  height:280px;
  position: absolute;
  top:1220px;
  left:1320px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#cream{
  width:280px;
  height:280px;
  position: absolute;
  top:1520px;
  left: 0px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-size: 22px;
}

#step4-1{
  width:280px;
  height:280px;
  position: absolute;
  top:1520px;
  left: 330px;
  margin-left: 40px;
  padding-left: 10px;
  border-style: dashed;
  border-width: thin;
  font-family: sans-serif;
  font-size: 22px;
}
