#borscht{
  width:280px;
  height:280px;
  position: absolute;
  top:20px;
  left: 10px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}

#serving{
    width:280px;
    height:280px;
    position: absolute;
    top:-10px;
    left: 10px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight:normal;
  }

#step1{
    width:240px;
    height:280px;
    position: absolute;
    top:-10px;
    left: 300px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight:normal;
  }

#step1-1{
  width:260px;
  height:280px;
  position: absolute;
  top:260px;
  left: 40px;
  font-family: sans-serif;
  font-size: 22px;
}


#butter{
  width:280px;
  height:280px;
  position: absolute;
  top:130px;
  left: 400px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}

#beetroot{
  width:280px;
  height:280px;
  position: absolute;
  top:-20px;
  left: 800px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}

#step2{
  width:280px;
  height:280px;
  position: absolute;
  top:220px;
  left:1100px;
  font-family: sans-serif;
  font-size: 22px;
}

#onion{
  width:280px;
  height:280px;
  position: absolute;
  top:350px;
  left: 750px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}

#carrot{
  width:280px;
  height:280px;
  position: absolute;
  top:300px;
  left: 500px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}


#step2-1{
  width:250px;
  height:280px;
  position: absolute;
  top:320px;
  left:1520px;
  font-family: sans-serif;
  font-size: 22px;
}

#step3{
  width:220px;
  height:280px;
  position: absolute;
  top:620px;
  left:330px;
  font-family: sans-serif;
  font-size: 22px;
}

#potatoes{
  width:280px;
  height:280px;
  position: absolute;
  top:550px;
  left: 900px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}

#cabbage{
  width:280px;
  height:280px;
  position: absolute;
  top:480px;
  left: 1200px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
}

#celery{
  width:220px;
  height:280px;
  position: absolute;
  top:420px;
  left: 200px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#step3-1{
  width:270px;
  height:280px;
  position: absolute;
  top:920px;
  left:1300px;
  font-family: sans-serif;
  font-size: 22px;
}

#leek{
  width:280px;
  height:280px;
  position: absolute;
  top:550px;
  left: 600px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }


#peeled{
  width:280px;
  height:280px;
  position: absolute;
  top:550px;
  left: 1600px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }


#allspice{
  width:280px;
  height:280px;
  position: absolute;
  top:750px;
  left: 200px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }


#garlic{
  width:280px;
  height:280px;
  position: absolute;
  top:750px;
  left: 500px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#cider{
  width:280px;
  height:280px;
  position: absolute;
  top:1050px;
  left: 200px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }


#bayleaf{
  width:280px;
  height:280px;
  position: absolute;
  top:1150px;
  left: 440px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#stock{
  width:280px;
  height:280px;
  position: absolute;
  top:1100px;
  left: 700px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#sugar{
  width:280px;
  height:280px;
  position: absolute;
  top:1250px;
  left: 1070px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#step4{
  width:260px;
  height:280px;
  position: absolute;
  top:1420px;
  left:660px;
  font-family: sans-serif;
  font-size: 22px;
}

#pepper{
  width:280px;
  height:280px;
  position: absolute;
  top:1050px;
  left:1250px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#cream{
  width:280px;
  height:280px;
  position: absolute;
  top:1350px;
  left: 300px;
  font-family: serif;
  font-size: 60px;
  font-weight:bold;
  }

#step4-1{
  width:280px;
  height:280px;
  position: absolute;
  top:1720px;
  left: 330px;
  font-family: sans-serif;
  font-size: 22px;
}
