body{
   background-color: black
}



.name{
	border: 1.5px solid white;
	margin: -12px;
	padding-bottom: 26px;
  padding-top:  7px;
  padding-left:  10px;
  position:relative;
  right: -710px;
  width: 820px;
  height: 8px;
  bottom: -700px;
  font-family:sans-serif;
  color: white;
}

.artist{
  position:relative;
  right: 160px;
  bottom:-678px;
  text-align: right;
  font-family:sans-serif;
  color:black;

}



#song{
  font-size: 24px;
}
