body  {
  background-image: url("Artboard 3.png");
	background-repeat: repeat;
}

#problem{
  color: white;
  text-align: center;
  padding: 450px 0;
  position: relative;
  font-family: 'Elsie', sans-serif;
  font-size: 20px;
  font-weight:lighter;
  letter-spacing: 10px;
  z-index: 2;
  text-shadow: 0 0 .5em, 0 0 .5em;

}



a{
  text-decoration: none;
  outline:none;
}


  .glow-text {
  color:#370050;
  font-family: 'Elsie', sans-serif;
  font-size: 20px;
  font-weight:lighter;
  letter-spacing: 0;
  text-shadow: 4px 4px 4px white;
  text-align: center;
  z-index: 2;
  position: relative;
  top: -450px;
  }

  .glow-text:hover{
  text-shadow: 0 0 .5em, 0 0 .5em;
  transition: 0.4s;
  color: white;
  }


/*
.scale-up-center {
  position: absolute;
  left: 608px;
  top: 200px;
  z-index: 1;
}

.scale-up-center {
	-webkit-animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}



@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
  }
  100% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
  }
  100% {
    -webkit-transform: scale(0.01);
            transform: scale(0.01);
  }
}
*/
