p{
  text-align-last: center;
}

.projectsInfo{
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  background-color: white;
  z-index: 2;
}




#content{
  display: inline-block;
  width:100%;
  margin:0 auto;
  position: relative;
  flex-wrap: wrap;
  display: flex;

}

.projects{
  margin:5em;

}


.item{
  float: left;
  display: inline-block;
  margin: 5em;
  position: relative;
  height: auto;
  width: auto;
}


img{
  height:19.6em;
  width: auto;
  margin: 2.5em;
}
