body{
  background-color:#ffef29;
}

.About{
  position: relative;
  font-family: helvetica;
  top: 33px;
  left:25px;
  font-size: 16px;
}


.Language{
  position: absolute;
  font-family: helvetica;
  left:106px;
  top: 33px;
  font-size: 16px;
}

.m{
  position: absolute;
  top: -18px;
  left:820px;
  font-family:cursive;
  font-size: 45px;
  font-style: italic;
}

.Search{
  position: absolute;
  font-family: helvetica;
  right:194px;
  top: 33px;
  font-size: 16px;
}

.sign{
  position: absolute;
  font-family: helvetica;
  right:105px;
  top: 33px;
  font-size: 16px;
}

.Bag{
  position: absolute;
  font-family: helvetica;
  right:44px;
  top: 33px;
  font-size: 16px;
}


.ALL{
  position: absolute;
  font-family: helvetica;
  left:33px;
  top: 70px;
}

.go1{
  position: absolute;
  font-family: helvetica;
  left:75px;
  top: 68px;
}

.unlimited{
  position: absolute;
  font-family: helvetica;
  left:99px;
  top: 70px;
}

.go2{
  position: absolute;
  font-family: helvetica;
  left:313px;
  top: 68px;
}

.bus{
  position: absolute;
  font-family: helvetica;
  left:330px;
  top: 70px;
}

.bus1{
  position: absolute;
  left: 420px;
  top:140px;
}



.add{
  position: absolute;
  left: 420px;
  top:805px;
  display: block;
}

.add .hoveradd{
  position: absolute;
  left: 0px;
  top:-2px;
  display: none;
}

.add:hover .hoveradd{
  display: block;
}





.checkout{
  position: absolute;
  left: 863px;
  top:805px;
}

.checkout .hovercheck{
  position: absolute;
  left: 0px;
  top:-2px;
  display: none;
}

.checkout:hover .hovercheck{
  display: block;
}




.FAQ{
  position: absolute;
  font-family: helvetica;
  left:35px;
  bottom: 0px;
}

.Subscribe{
  position: absolute;
  font-family: helvetica;
  left:400px;
  bottom: 0px;
}

.Legal{
  position: absolute;
  font-family: helvetica;
  left:825px;
  bottom: 0px;
}

.Contact{
  position: absolute;
  font-family: helvetica;
  left:1180px;
  bottom: 0px;
}

.apps{
  position: absolute;
  font-family: helvetica;
  right:35px;
  bottom: 0px;
}
