body{
  background-color: #ffef29;
}

#marquee1 {
	overflow-x: -webkit-marquee;
	-webkit-marquee-style: scroll;
	-webkit-marquee-speed: fast;
}

.example1{
  font-family: helvetica;
  font-size: 25px;
}


.About{
  position: relative;
  font-family: helvetica;
  top: -10px;
  left:25px;
  font-size: 16px;
}


.Language{
  position: absolute;
  font-family: helvetica;
  left:106px;
  top: 33px;
  font-size: 16px;
}

.m{
  position: absolute;
  top: -18px;
  left:820px;
  font-family:cursive;
  font-size: 45px;
  font-style: italic;
}

.Search{
  position: absolute;
  font-family: helvetica;
  right:194px;
  top: 33px;
  font-size: 16px;
}

.sign{
  position: absolute;
  font-family: helvetica;
  right:105px;
  top: 33px;
  font-size: 16px;
}

.Bag{
  position: absolute;
  font-family: helvetica;
  right:44px;
  top: 33px;
  font-size: 16px;
}

img{
  height: 60vh;
}



.un{
  position: absolute;
  height:400px;
  width: 250px;
  left: 230px;
  top:200px;
  display: block;
}

.un .hoverun{
  position: absolute;
  left:0;
  top:0;
  display: none;
}

.un:hover .hoverun{
  display: block;
}


.payper{
  position: absolute;
  height:400px;
  width: 250px;
  left: 1100px;
  top:200px;
  display: block;
}

.payper .hoverpayper{
  position: absolute;
  left:0;
  top:0;
  display: none;
}

.payper:hover .hoverpayper{
  display: block;
}



.single{
  position: absolute;
  height:400px;
  width: 250px;
  left: 660px;
  top:200px;
  display: block;
}

.single .hoversingle{
  position: absolute;
  left:0;
  top:0;
  display: none;
}

.single:hover .hoversingle{
  display: block;
}







.FAQ{
  position: absolute;
  font-family: helvetica;
  left:35px;
  bottom: 0px;
  font-size: 16px;
}

.Subscribe{
  position: absolute;
  font-family: helvetica;
  left:400px;
  bottom: 0px;
  font-size: 16px;
}

.Legal{
  position: absolute;
  font-family: helvetica;
  left:825px;
  bottom: 0px;
  font-size: 16px;
}

.Contact{
  position: absolute;
  font-family: helvetica;
  left:1180px;
  bottom: 0px;
  font-size: 16px;
}

.apps{
  position: absolute;
  font-family: helvetica;
  right:35px;
  bottom: 0px;
  font-size: 16px;
}
