.About{
  position: relative;
  font-family: helvetica;
  top: 33px;
  left:25px;
}


.Language{
  position: absolute;
  font-family: helvetica;
  left:106px;
  top: 33px;
}

.m{
  position: absolute;
  top: -18px;
  left:820px;
  font-family:cursive;
  font-size: 45px;
  font-style: italic;
}

.Search{
  position: absolute;
  font-family: helvetica;
  right:194px;
  top: 33px;
}

.sign{
  position: absolute;
  font-family: helvetica;
  right:105px;
  top: 33px;
}

.Bag{
  position: absolute;
  font-family: helvetica;
  right:44px;
  top: 33px;
}

.ALL{
  position: absolute;
  font-family: helvetica;
  left:33px;
  top: 70px;
}

.go1{
  position: absolute;
  font-family: helvetica;
  left:75px;
  top: 68px;
}

.unlimited{
  position: absolute;
  font-family: helvetica;
  left:99px;
  top: 70px;
}



.un1{
  position: absolute;
  left: 245px;
  top:180px;
}

.un2{
  position: absolute;
  top:185px;
  left:249.5px;
  display: block;
}

.un2 .hoverun2{
  position: absolute;
  left: 360px;
  top:-5px;
  display: none;
}

.un2:hover .hoverun2{
  display: block;
}



.un3{
  position: absolute;
  top:372px;
  left:249.5px;
  display: block;
}

.un3 .hoverun3{
  position: absolute;
  left: 360px;
  top:-192px;
  display: none;
}

.un3:hover .hoverun3{
  display: block;
}



.un4{
  position: absolute;
  top:559px;
  left:249.5px;
  display: block;
}

.un4 .hoverun4{
  position: absolute;
  left: 360px;
  top:-379px;
  display: none;
}

.un4:hover .hoverun4{
  display: block;
}



.FAQ{
  position: absolute;
  font-family: helvetica;
  left:35px;
  bottom: 0px;
}

.Subscribe{
  position: absolute;
  font-family: helvetica;
  left:400px;
  bottom: 0px;
}

.Legal{
  position: absolute;
  font-family: helvetica;
  left:825px;
  bottom: 0px;
}

.Contact{
  position: absolute;
  font-family: helvetica;
  left:1180px;
  bottom: 0px;
}

.apps{
  position: absolute;
  font-family: helvetica;
  right:35px;
  bottom: 0px;
}



body{
  background-color:#ffef29;
}
