

.imageBox {
  position: fixed;
  right: 0px;
  bottom:-4px;

}

.imageBox .hoverImg {
  position: fixed;
  display: none;
  right: 0px;
  top: 0px;

}

.imageBox:hover .hoverImg {
  display: block;
}

.ebooksPage2{
  top:-4px;
  position: relative;
}

.ebooksPage3{
  top:-10px;
  position: relative;
}


.back{
  top:10px;
  left:10px;
  position:fixed;
}
