.fixedbar{
  position: fixed;
  top: 0;
  left: 0;
}

.gamesPage2-02{
position: relative;
top:-6px;

}



.gamesPage4{
  top:-11px;
position: relative;
}

.gamesPage5{
  top:-17px;
position: relative;
}

.gamesScreen6{
  top:-22px;
position: relative;
}


.sideAD{
  position:fixed;
  bottom:-4px;
  left:1400px;
}

.back{
  top:4px;
  left:17px;
  position:fixed;
}
